extends layout
block content
  head
    title Cambiar Contraseña
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js")

  .container
    h1(class="mt-5 text-center") Cambiar Contraseña
    form(class="mt-3" action='/cambiar-contrasena' method='POST' id="cambiarContrasenaForm")
      .form-group
        label(for='contrasena_actual') Contraseña Actual
        input(type='password' name='contrasena_actual' id='contrasena_actual' class='form-control', required)
        if mensajeContrasenaIncorrecta
          p(class='error-message text-center text-danger') Contraseña actual incorrecta.

      .form-group
        label(for='nueva_contrasena') Nueva Contraseña
        input(type='password' name='nueva_contrasena' id='nueva_contrasena' class='form-control', required)

      .form-group
        label(for='confirmar_contrasena') Confirmar Nueva Contraseña
        input(type='password' name='confirmar_contrasena' id='confirmar_contrasena' class='form-control', required)
        if mensajeContrasenasNoCoinciden
          p(class='error-message text-center text-danger') Las contraseñas no coinciden.

      .text-center
        button(type='button' class='btn btn-primary mt-3' data-bs-toggle="modal" data-bs-target="#confirmModal") Cambiar Contraseña

    if contrasenaCambiada
      p(class='success-message text-center mt-3 text-success') Contraseña cambiada con éxito.

    // Modal de confirmación
    .modal.fade#confirmModal(tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            h5.modal-title#confirmModalLabel Confirmar Acción
            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
          .modal-body
            p ¿Estás seguro de que deseas cambiar la contraseña?
          .modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
            button.btn.btn-primary(type="button" onclick="verificarYEnviar();") Aceptar

  script.
    function verificarYEnviar() {
      const contrasenaActual = document.getElementById('contrasena_actual').value;
      const nuevaContrasena = document.getElementById('nueva_contrasena').value;
      const confirmarContrasena = document.getElementById('confirmar_contrasena').value;

      // Verificar que las contraseñas no estén vacías
      if (!contrasenaActual || !nuevaContrasena || !confirmarContrasena) {
        alert("Por favor, completa todos los campos.");
        return;
      }

      // Verificar que las contraseñas coincidan
      if (nuevaContrasena !== confirmarContrasena) {
        alert("Las contraseñas no coinciden.");
        return;
      }

      // Enviar el formulario si pasa todas las verificaciones
      document.getElementById('cambiarContrasenaForm').submit();
    }
