block content
  head
    title Laboratorio - Iniciar Sesión
    link(rel="icon" href="/public/img/icon.png" type="image/png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet" href="./public/css/style.css")
    script(src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")
    style.
      
  body.login-page
    #particles-js
    .login-container
      .login-brand
        img(src="./public/img/login.webp" alt="Laboratorio").brand-logo
        h1.brand-title Inicio de Sesion 
      
      form.login-form(action='/login' method='POST')
        .form-group.floating-label
          input#correo_electronico(type="email" name="correo_electronico" required)
          label(for="correo_electronico") 
            i.fas.fa-envelope.icon
            | Correo Electrónico
          
        .form-group.floating-label
          input#password(type="password" name="password" required)
          label(for="password") 
            i.fas.fa-lock.icon
            | Contraseña

        
        button.login-button(type="submit")
          span Ingresar al Sistema
          i.fas.fa-arrow-right
        
      if message
        .error-message
          i.fas.fa-exclamation-circle
          span= message
